.form__field {
  position: relative;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--transition-time) var(--transition-function);

  &:focus-within + .icon {
    fill: var(--accent-color);
  }

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }

  &:focus .form__icon {
    fill: var(--accent-color);
  }
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 68%;
  transform: translateY(-50%);
  display: block;
  margin-right: 15px;
  transition: fill var(--transition-time) var(--transition-function);
}

textarea {
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
  transition: border-color var(--transition-time) var(--transition-function);

  &::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.form__agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
}

.form__agreement-text {
  margin-left: 7px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.form__modal-link {
  margin-left: 5px;
}

.form__button {
  display: block;
  margin: 30px auto 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--pure-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  max-width: 200px;
  padding: 10px 55px;
  height: 50px;
  transition: background-color var(--transition-time) var(--transition-function);

  &:hover,
  &:focus {
    background-color: var(--modal-btn-color);
    outline: none;
    cursor: pointer;
  }
}



.modal-comment {
  margin-bottom: 5px;
}

.form__checkbox {
  &:not(:checked) + &-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3e%3c/svg%3e");
  }
  
  &:checked + &-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3e%3c/svg%3e ");
    border-radius: 25%;
    background-origin: border-box;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

