.mobile-btn {
  position: fixed;
  top: 10px;
  right: 25px;
  z-index: 100;

  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  z-index: 33;

  @media screen and (min-width: 767px) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mobile-current {
  &::after {
    content: "";
    border: none;
  }
}

.menu-close-icon {
  display: none;
}

.is-open {
  .menu-close-icon {
    display: block;
    position: fixed;
    z-index: 100;
  }
  .menu-open-icon {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: var(--pure-white-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: left;
  letter-spacing: 0.02em;

  padding: 48px 40px;

  color: var(--title-color);
  transition: right var(--transition-time) var(--transition-function);

  &.is-open {
    @media screen and (max-width: 767.98px) {
      & {
        right: 0;
        z-index: 10;
      }
    }
  }
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.mobile-menu-nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

// .mobile-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100vh;
//   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
//     0px 1px 3px rgba(0, 0, 0, 0.16);
// }

.mobile-navigation-contact {
  display: flex;
  flex-direction: column;
}

.mobile-navigation-contact__item {
  &:first-child {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;

    color: var(--accent-color);
    margin-bottom: 32px;
  }

  &:last-child {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    // color: rgb(117, 117, 117);
  }
}

.mobile-socials {
  display: inline-flex;
  width: 100%;
  margin-top: 60px;
}

.mobile-socials__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mobile-socials__link {
  padding: 10px;

  font-size: 18px;
  line-height: 22px;

  color: var(--accent-color);
}

.mobile-overlay.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-overlay.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.socials__link {
  padding: 10px;
}
