.hero {
  background-color: var(--footer-bg-color);
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 1600px;
  background: linear-gradient(
      180deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: linear-gradient(
        180deg,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./../images/hero/desktop/hero-2x-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-width: 480px) {
    background: linear-gradient(
        180deg,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./../images/hero/mobile/hero-1x-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: linear-gradient(
          180deg,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./../images/hero/mobile/hero-2x-mobile.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  @media screen and (min-width: 768px) {
    background: linear-gradient(
        180deg,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./../images/hero/tablet/hero-1x-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: linear-gradient(
          180deg,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./../images/hero/tablet/hero-2x-tablet.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  @media screen and (min-width: 1200px) {
    background: linear-gradient(
        180deg,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./../images/hero/desktop/hero-1x-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: linear-gradient(
          180deg,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./../images/hero/desktop/hero-2x-desktop.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.hero__container {
  padding: 200px 0;
  text-align: center;
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 30px;
  color: var(--pure-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;

  @media screen and (min-width: 320px) and (max-width: 1200px) {
    margin-top: 40px;
  }
}

.hero__text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--pure-white-color);

  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;

  @media screen and (max-width:1198.98px) {
    max-width: 360px;
  }

}
